 /* //how to use it
 container {
    padding: 0 15px;
// 576px window width and more
    @include sm {
        padding: 0 20px;
    }
// 992px window width and more
    @include lg {
        margin-left: auto;
        margin-right: auto;
        max-width: 1100px;
    }
// 1400px window width and more
    @include rwd(1400) {
        margin-bottom: 20px;
        margin-top: 20px;
    }
}
 */
.site-header {
  display: grid !important;
  grid-template-columns: 20% auto;
  background-color: black; }
  @media (max-width: 768px) {
    .site-header {
      grid-template-columns: 100%; } }
  .site-header .site-branding {
    align-self: center;
    justify-self: center;
    margin-left: 1em; }
    @media (max-width: 768px) {
      .site-header .site-branding {
        margin-left: 0px; } }
    .site-header .site-branding img.custom-logo {
      padding: 1em 0em; }
  .site-header #site-navigation {
    align-self: center;
    justify-self: right; }
    @media (max-width: 768px) {
      .site-header #site-navigation {
        width: 100%;
        justify-self: center; } }
    .site-header #site-navigation ul {
      transition: all 0.5s ease; }
      .site-header #site-navigation ul li {
        margin-right: 2em; }
        .site-header #site-navigation ul li a {
          text-transform: uppercase; }
        @media (max-width: 768px) {
          .site-header #site-navigation ul li {
            display: block;
            width: 100%;
            padding-left: 1em; } }
    .site-header #site-navigation button.menu-toggle {
      background-color: #000;
      color: #fff;
      padding: 0.5em 1em;
      margin: auto;
      margin-bottom: 1em; }

#hero {
  position: relative;
  z-index: 1;
  overflow: hidden;
  object-position: center;
  background-repeat: no-repeat !important;
  background-size: cover !important; }
  #hero img {
    position: absolute;
    z-index: -1;
    width: 100%; }
  #hero .overlay {
    background-color: #30c0ec59;
    width: 100%;
    z-index: 3;
    height: 100%;
    position: absolute; }
  #hero .content {
    padding: 8em;
    z-index: 4;
    position: relative; }
    @media (max-width: 768px) {
      #hero .content {
        padding: 1em; } }
    #hero .content h1 {
      margin: 0;
      text-transform: uppercase;
      font-size: 5em;
      font-weight: 800;
      color: #fff; }
      @media (max-width: 768px) {
        #hero .content h1 {
          font-size: 2em; } }
    #hero .content p {
      font-size: 1.5em;
      margin-top: 0xp;
      color: #00fff3; }
      @media (max-width: 768px) {
        #hero .content p {
          font-size: 1.2em; } }

footer {
  padding: 2em 0em;
  background-color: #000;
  display: grid;
  grid-template-areas: "logo w1 w2 w3" "copyright copyright copyright copyright";
  grid-template-columns: "20% auto auto auto"; }
  @media (max-width: 992px) {
    footer {
      grid-template-areas: "logo" "w1" "w2" "w3" "copyright"; } }
  footer h2.widget {
    margin-bottom: 0.5em;
    color: #00fff3;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.3em; }
  footer ul {
    list-style-type: none;
    margin-left: 0px !important;
    padding-left: 0px !important; }
    footer ul li {
      margin-top: 0.5em;
      color: #fff; }
      footer ul li a {
        color: #fff;
        text-decoration: none; }
  footer ul.sc_social li {
    display: inline;
    margin: 0px 1em 0em 0em; }
  footer p {
    color: #fff; }
  footer .logo {
    grid-area: logo;
    align-self: center;
    justify-self: center; }
    @media (max-width: 768px) {
      footer .logo {
        justify-self: left;
        margin-bottom: 1.5em;
        margin-left: 1em; } }
    @media (max-width: 540px) {
      footer .logo {
        justify-self: right; } }
  footer .widget-1 {
    grid-area: w1; }
  footer .widget-2 {
    grid-area: w2; }
  footer .widget-3 {
    grid-area: w3; }
  footer .widget-1, footer .widget-2, footer .widget-3 {
    align-self: initial;
    justify-self: center; }
    @media (max-width: 992px) {
      footer .widget-1, footer .widget-2, footer .widget-3 {
        justify-self: left;
        margin-left: 1em; } }
  footer .site-info {
    margin-top: 1.5em;
    grid-area: copyright;
    align-self: center;
    justify-self: center; }

body, html {
  margin: 0px;
  padding: 0px; }

a {
  color: #00fff3;
  text-decoration: none;
  transition: all 0.3s ease 0s; }
  a:hover, a:focus, a:active {
    color: white; }
  a:visited {
    color: #00fff3; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }
  a.btn {
    padding: 0.5em 1em;
    background-color: #000 !important;
    color: #fff !important; }
    a.btn:hover {
      background-color: #fff !important;
      color: #000 !important; }

.btn {
  transition: all 0.3s ease 0s;
  cursor: pointer; }

/*# sourceMappingURL=devStyles.css.map */
