.site-header{
	display: grid !important;
	grid-template-columns: 20% auto;
    background-color: $header_background_color;
    @include md {
        grid-template-columns: 100%;
    }

    .site-branding {
        align-self: center;
        justify-self: center;
        margin-left: 1em;

        @include md {
            margin-left: 0px;
        }

        img.custom-logo {
            padding: 1em 0em;
        }
    }
    
    #site-navigation {
        align-self: center;
        justify-self: right;
        @include md {
            width: 100%;
            justify-self: center;
        }
        
        ul {
            transition: all 0.5s ease;           
            li {	
                margin-right: 2em;
                a {
                    text-transform: uppercase;
                }
                @include md {
                    display: block;
                    width: 100%;
                    padding-left: 1em;
                }
            }
        } 
        

        button.menu-toggle {
            background-color: #000;
            color: #fff;
            padding: 0.5em 1em;
            margin: auto;
            margin-bottom: 1em;            
        }
    }

    
}