$primary_color: #00fff3;
$header_background_color: rgb(0, 0, 0);
$link_color: $primary_color;
$link_color_hover: rgb(255, 255, 255);

$btn_color :#000;
$btn_color_hover :#fff;

$btn_text: #fff;
$btn_text_hover: #000;
